<div class="content-lighten no-mt negative clearfix">
	<div class="content-inner container clearfix">
	  <section class="box relative col col-large">
	    <header class="box-header content-header">
	      <h2 class="title title-section">Quem Somos</h2>
	    </header>
	    <div class="box-content">
	    	<p>O Complexo de Ensino Renato Saraiva (CERS) surgiu em 2009 com estrutura para oferecer cursos preparatórios para concursos e para o Exame da Ordem dos Advogados do Brasil (OAB). Com o olhar sempre voltado para o futuro da educação, o CERS trilhou um caminho natural para dar espaço ao Ensino à Distância e proporcionar aos seus alunos o conforto de assistir aulas em casa, a qualquer hora do dia, de qualquer lugar do país.</p>
			<p>Hoje, somos a maior instituição de ensino à distância do Brasil. Pioneiro na profissionalização e aperfeiçoamento dos processos de produção e transmissão de aulas online, o CERS oferece a estudantes das áreas técnica, jurídica, fiscal e administrativa um leque de possibilidades para o desenvolvimento de suas carreiras profissionais.</p>
			<p>Sob o comando dos Diretores Renato Saraiva e Francisco Salles e coordenação científica do professor Rogério Sanches, o CERS se diferencia e inaugura o Portal Carreira Jurídica, que nasce com o objetivo de difundir conhecimento e facilitar a preparação dos seus alunos para os principais concursos da área jurídica, aliando tecnologia, interatividade e conteúdo relevante. Tudo isso no melhor e mais exclusivo ambiente online.</p>
			<p>O Portal oferece todos os instrumentos que um operador do Direito precisa para crescer profissionalmente e alcançar a aprovação na carreira desejada, contando com uma moderna infraestrutura e reunindo conteúdos complementares entre cursos, notícias, vídeos e simulados especialmente elaborados para aqueles que visam o sucesso. Os cursos possuem aulas com imagem digital produzidas em estúdios com qualidade de televisão e contam com uma moderna metodologia de ensino, garantindo assim a excelência dos produtos e serviços.</p>
			<p>Com professores altamente especializados e de todas as regiões do Brasil, o Portal Carreira Jurídica possui qualidade e know-how únicos. Com o intuito de oferecer os melhores cursos do Brasil, reunimos uma seleção de renomados juristas, reconhecidos nacionalmente, tais como Rogério Sanches, Renato Brasileiro, Cristiano Chaves, Pedro Taques, Renato Saraiva, Matheus Carvalho, Vólia Bonfim, Robério Nunes, Leonardo Carneiro, Aryanna Manfredini, Maurício Cunha, Gustavo Nogueira, Fábio Roque, Renato de Pretto, Juan Vasques, Luciano Figueiredo, Edem Napoli, Geovane Moraes, Josiane Minardi, entre outros. Além do seu corpo docente singular, o Portal possui uma equipe técnica extremamente experiente e exclusiva para atender todas as necessidades e dúvidas dos nossos alunos, comandada pelo coordenador pedagógico Leandro Fortes.</p>
			<p>No Portal Carreira Jurídica você encontra cursos para todas as etapas da preparação para concursos e para todos os perfis de candidatos. A programação do Portal conta com cursos extensivos de formação geral para as principais Carreira Jurídica (Curso Preparatório para Carreira Jurídica e Matérias Complementares), cursos intensivos para carreiras específicas, cursos retas finais (UTI), cursos de resolução de questões e exercícios, cursos temáticos, cursos de prática jurídica, matérias isoladas, simulados, congressos online, entre outros, sempre abordando as matérias e temas mais cobrados nos principais concursos da carreira jurídica.</p>
			<br/>
			<p>Seu sonho é real. Estrutura, tecnologia e qualidade de ensino. Tudo em um só lugar, o seu computador.</p>
	       	<ul class="imagens about-us-images unstyled">
				<li class="first"><img src="/assets/quem-somos/foto1.jpg" alt="Foto 1"></li>
				<li><img src="/assets/quem-somos/foto2.jpg" alt="Foto 2"></li>
				<li><img src="/assets/quem-somos/foto3.jpg" alt="Foto 3"></li>
				<li><img src="/assets/quem-somos/foto4.jpg" alt="Foto 4"></li>
				<li class="item"><img src="/assets/quem-somos/foto5.jpg" alt="Foto 5"></li>
				<li class="last"><img src="/assets/quem-somos/foto6.jpg" alt="Foto 6"></li>
			</ul>
	    </div><!-- .box-content -->
	  </section><!-- .box -->
	 
	</div><!-- .content-inner -->
</div>