<div class="content-lighten no-mt negative clearfix">
	<div class="content-inner container clearfix">
	  <section class="box relative col col-large">
	    <header class="box-header content-header">
	      <h2 class="title title-section">Termos de Uso</h2>
	    </header>
	    <div class="box-content">
			<p><strong>O Portal Carreira Jurídica realiza a criação, produção e veiculação pela internet de produtos audiovisuais com conteúdo informativo e de entretenimento com temáticas ligadas ao exame de Ordem. Para o uso consciente e uma experiência de excelência com nossos serviços, leia atentamente os termos de uso descritos abaixo:</strong></p>

			<p>1 - A visualização do conteúdo do Portal Carreira Jurídica é ilimitada, não sendo disposto um quantidade predeterminada pelo contratado de visualizações;</p>

			<p>2 - No caso de constatação de atos de pirataria de nossos produtos [cópia, venda, reprodução, compra ou distribuição] a relação contratual entre CERS TV e contratante é cancelada, sendo de direito do CERS TV o acionamento das autoridades competentes que agem no combate a pirataria;</p>

			<p>3 - Para uma visualização plena de nosso conteúdo, recomendamos o uso do navegador Google Chorme, e principalmente, uma conexão com a internet de no mínimo 1 mega, garantindo assim a qualidade técnica dos vídeos transmitidos.</p>
	    </div><!-- .box-content -->
	  </section><!-- .box -->
	 
	</div><!-- .content-inner -->
</div>