<div class="dicas_de_estudo_wpr">
    <div class="welcome-container">
        <div class="welcome">
            <h1>Dicas de Estudo</h1>
            <p>Pensando em fortalecer ainda mais a sua preparação, nossos professores se reuniram para dar dicas valiosas que vão ajudar a garantir o seu excelente desempenho nos concursos.
            Passeando pelo nosso infográfico, você terá a oportunidade de perceber quão importantes essas dicas serão na conquista da sua aprovação. Aproveite! </p>
            <img src="/assets/dicasdeestudo/simples.jpg" alt="Clique no professor e assista o vídeo" />
        </div>
    </div>


    <div id="preprova-container">

        <div class="nav-bar">
            <ul>
                <li><a class="chapters_01"><img src="/assets/dicasdeestudo/bt_preprova_on.png" alt="Pré-prova" /></a></li>
                <li><a class="chapters_02"><img src="/assets/dicasdeestudo/bt_horadaprova_off.png" alt="Hora da prova" /></a></li>
                <li><a class="chapters_03"><img src="/assets/dicasdeestudo/bt_chute_off.png" alt="Chute!" /></a></li>
            </ul>
        </div> <!-- /nav-bar -->
        
        
        <div class="dica1-container">
            <div id="dica1" data-slide="1" data-stellar-background-ratio="0.5">
                <div class="wrap">
                    <img src="/assets/dicasdeestudo/preprova/dica1/rnt_top_right_26.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica1/rnt_top_left_26.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica1/rnt_bottom_left_26.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                    <div id="dica1-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/iHpqPXvN1b0&autoplay=1"><span></span></a></div>
                    <div id="dica1-button"><a class="various" href="#hidden_1"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/preprova/dica1/bt_leiaostextos.png"  alt="" /></a></div>    
                </div>
            </div>
        </div> <!-- /dica1 - Renato Saraiva -->

        <div class="dica2-container">
            <div id="dica2">
                <div class="wrap">
                    <img src="/assets/dicasdeestudo/preprova/dica2/fr_top_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica2/fr_bottom_right.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica2/fr_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                    <div id="dica2-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/IWAiLYEQ5IU&autoplay=1"><span></span></a></div>
                    <div id="dica2-button"><a class="various" href="#hidden_2"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/preprova/dica2/bt_jurisprudenciais.png"  alt="" /></a></div>    
                </div>
            </div>
        </div> <!-- /dica2 - Fabio Roque -->

        <div class="dica3-container">
            <div id="dica3">
                <div class="wrap">
                    <img src="/assets/dicasdeestudo/preprova/dica3/rs_top_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica3/rs_bottom_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica3/rs_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                    <div id="dica3-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/xTrNJvr1r2w&autoplay=1"><span></span></a></div>
                    <div id="dica3-button"><a class="various" href="#hidden_3"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/preprova/dica3/bt_obrasdirecionadas.png"  alt="" /></a></div>    
                </div>
            </div>
        </div> <!-- /dica3 - Rogerio Sanches -->

        <div class="dica4-container">
            <div id="dica4">
                <div class="wrap">
                    <img src="/assets/dicasdeestudo/preprova/dica4/ed_bottom_right.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica4/ed_top_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                    <img src="/assets/dicasdeestudo/preprova/dica4/ed_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                    <div id="dica4-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/e2BILR0F044&autoplay=1"><span></span></a></div>
                    <div id="dica4-button"><a class="various" href="#hidden_4"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/preprova/dica4/bt_numerodequestoes.png"  alt="" /></a></div>    
                </div>
            </div>
        </div> <!-- /dica4 - Edem Napoli -->

       <div class="dica5-container">
            <div id="dica5">
                <div class="wrap">
                   <div id="dica6-button"><a class="various" href="#hidden_5"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/preprova/dica6/bt_dicasimportantes.png"  alt="" /></a></div>
                   <div class="dica5-roberio">
                    <img src="/assets/dicasdeestudo/preprova/dica5/roberioimg.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <!-- Vídeo Robério - AJUSTADO -->
                    <div id="dica5-roberio-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/D45E-WcD154&autoplay=1"><span></span></a></div>
                </div>

                <div class="dica5-renatob">
                    <img src="/assets/dicasdeestudo/preprova/dica5/renatoimg.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-55" alt="" />
                    <!-- Vídeo Renato Brasileiro - AJUSTADO -->
                    <div id="dica5-renatob-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/Ofqpj9BJnL4&autoplay=1"><span></span></a></div>
                </div>


            </div>
        </div>
    </div> <!-- /dica5 - Renato e Roberio -->

    <div class="dica6-container">
        <div id="dica6">
            <div class="wrap">

                <div class="dica6-juan">
                    <img src="/assets/dicasdeestudo/preprova/dica6/juanimg.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                    <!-- Vídeo Juan - AJUSTADO -->
                    <div id="dica6-juan-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/7SWvd1hqSbc&autoplay=1"><span></span></a></div>
                </div>

                <div class="dica6-gustavo">
                    <img src="/assets/dicasdeestudo/preprova/dica6/gustavoimg.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-55" alt="" />
                    <!-- Vídeo Gustavo - AJUSTADO -->
                    <div id="dica6-gustavo-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/89huvCSApgQ&autoplay=1"><span></span></a></div>
                </div>


            </div>
        </div>
    </div> <!-- /dica6 - Juan Vasquez e Gustavo Nogueira  -->

</div> <!-- /preprova - Fim do Pré-Prova -->

<div id="horadaprova-container">

    <div class="nav-bar">
        <ul>
            <li><a class="chapters_01"><img src="/assets/dicasdeestudo/bt_preprova_off.png" alt="Pré-prova" /></a></li>
            <li><a class="chapters_02"><img src="/assets/dicasdeestudo/bt_horadaprova_on.png" alt="Hora da prova" /></a></li>
            <li><a class="chapters_03"><img src="/assets/dicasdeestudo/bt_chute_off.png" alt="Chute!" /></a></li>
        </ul>
    </div> <!-- /nav-bar -->

    <div class="dica8-container">
        <div id="dica8">
            <div class="wrap">
                <img src="/assets/dicasdeestudo/horadaprova/dica1/depretto_top_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica1/depretto_bottom_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica1/depretto_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                <div id="dica8-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/rauc4He8nMk&autoplay=1"><span></span></a></div>
                <div id="dica8-button"><a class="various" href="#hidden_8"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/horadaprova/dica1/bt_questoesmaisfaceis.png"  alt="" /></a></div>       
            </div>
        </div>
    </div> <!-- /dica9  - Renato de Pretto -->

    <div class="dica9-container">
        <div id="dica9">
            <div class="wrap">
                <img src="/assets/dicasdeestudo/horadaprova/dica2/edem_bottom_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica2/edem_top_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica2/edem_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                <div id="dica9-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/hhhQN6DEOoQ&autoplay=1"><span></span></a></div>
                <div id="dica9-button"><a class="various" href="#hidden_9"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/horadaprova/dica2/bt_descanseduranteaprova.png"  alt="" /></a></div>       
            </div>
        </div>
    </div> <!-- /dica9  - Edem Napoli  -->

    <div class="dica10-container">
        <div id="dica10">
            <div class="wrap">
                <img src="/assets/dicasdeestudo/horadaprova/dica3/fabio_bottom_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica3/fabio_top_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica3/fabio_bottom_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                <div id="dica10-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/0UfFvFhWm7w&autoplay=1"><span></span></a></div>
                <div id="dica10-button"><a class="various" href="#hidden_10"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/horadaprova/dica3/bt_administreseutempo.png"  alt="" /></a></div>       
            </div>
        </div>
    </div> <!-- /dica10  - Fabio Roque  -->
    
    <div class="dica11-container">
        <div id="dica11">
            <div class="wrap">
                <img src="/assets/dicasdeestudo/horadaprova/dica4/rogerio_bottom_left.png" data-stellar-ratio="1.8" data-stellar-vertical-offset="-25" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica4/rogerio_top_left.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-59" alt="" />
                <img src="/assets/dicasdeestudo/horadaprova/dica4/rogerio_top_right.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-84" alt="" />
                <div id="dica11-photo" data-stellar-ratio="2.7" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/DYaw5oSXraM&autoplay=1"><span></span></a></div>
                <div id="dica11-button"><a class="various" href="#hidden_11"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/horadaprova/dica4/bt_respeiteseumomento.png"  alt="" /></a></div>       
            </div>
        </div>
    </div> <!-- /dica11  - Rogerio Sanches  -->

</div> <!-- /horadaprova - Fim do Hora da Prova -->

<div id="chute-container">

    <div class="nav-bar">
        <ul>
            <li><a class="chapters_01"><img src="/assets/dicasdeestudo/bt_preprova_off.png" alt="Pré-prova" /></a></li>
            <li><a class="chapters_02"><img src="/assets/dicasdeestudo/bt_horadaprova_off.png" alt="Hora da prova" /></a></li>
            <li><a class="chapters_03"><img src="/assets/dicasdeestudo/bt_chute_on.png" alt="Chute!" /></a></li>
        </ul>
    </div> <!-- /nav-bar -->

    <div class="dica12-container">
        <div id="dica12">
            <div class="wrap">

                <div class="dica12-renato">
                    <img src="/assets/dicasdeestudo/chute/renatoimg.png" data-stellar-ratio="2.3" data-stellar-vertical-offset="-35" alt="" />
                    <div id="dica12-renato-photo" data-stellar-ratio="2.3" data-stellar-vertical-offset="-10"><a class="fancybox-media" href="http://www.youtube.com/embed/AhxZuta9D7Q&autoplay=1"><span></span></a></div>
                </div>

                <div class="dica12-gustavo">
                    <img src="/assets/dicasdeestudo/chute/gustavoimg.png" data-stellar-ratio="2.1" data-stellar-vertical-offset="-59" alt="" />
                    <div id="dica12-gustavo-photo" data-stellar-ratio="2.6" data-stellar-vertical-offset="-15"><a class="fancybox-media" href="http://www.youtube.com/embed/Rz4FmKKilKk&autoplay=1"><span></span></a></div>
                </div>

                <div id="dica12-button"><a class="various" href="#hidden_12"><img data-stellar-ratio="2.5" data-stellar-vertical-offset="-80" src="/assets/dicasdeestudo/chute/bt_chuteconsciente.png"  alt="" /></a></div>

                <div class="dica12-roberio">
                    <img src="/assets/dicasdeestudo/chute/roberioimg.png" data-stellar-ratio="1.7" data-stellar-vertical-offset="-45" alt="" />
                    <div id="dica12-roberio-photo" data-stellar-ratio="2.1" data-stellar-vertical-offset="-21"><a class="fancybox-media" href="http://www.youtube.com/embed/hjiRYoI01xs&autoplay=1"><span></span></a></div>
                </div>

                <div class="dica12-renatobra">
                    <img src="/assets/dicasdeestudo/chute/renatobraimg.png" data-stellar-ratio="1.9" data-stellar-vertical-offset="-55" alt="" />
                    <div id="dica12-renatobra-photo" data-stellar-ratio="2.4" data-stellar-vertical-offset="-31 "><a class="fancybox-media" href="http://www.youtube.com/embed/8t41C5FO4iE&autoplay=1"><span></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hidden_1" class="text-hidden">
    <h1>Leia os textos normativos</h1><br />
    <p>Para concursos que exigem conhecimento na área do direito, a letra da lei precisa ser decorada. Não há como lutar contra isso. Leia, releia, estude muitas vezes! Crie intimidade e familiaridade com os assuntos, memorize os códigos. Se necessário, repita esse processo até a exaustão. <br />(RENATO SARAIVA)</p>
</div>

<div id="hidden_2" class="text-hidden">
    <h1>Leia os enunciados jurisprudenciais</h1><br />
    <p>As súmulas aparecem com muita frequência nos concursos. Memorize-as. Uma opção interessante é fazer cadastro no site do STF, onde você terá acesso a um vasto material de estudo. <br />(FÁBIO ROQUE)</p>
</div>

<div id="hidden_3" class="text-hidden">
    <h1>Estude por obras direcionadas</h1><br />
    <p>Muitos livros são lançados objetivamente para concursos ou carreiras específicas e podem ajudar. Apostilas e resumos também direcionam melhor os estudos. <br />(ROGÉRIO SANCHES)</p>
</div>

<div id="hidden_4" class="text-hidden">
    <h1>Resolva o maior número de questões</h1><br />
    <p>Seja rígido com você mesmo. Nunca canse de resolver simulados e questões. Crie condições de tempo e espaço como se fosse o dia da prova e dedique o mesmo nível de concentração, desligando o celular e eliminando outras distrações. <br />(EDEM NÁPOLI)</p>
</div>

<div id="hidden_5" class="text-hidden">
    <h1>Outras dicas</h1><br />
    <h1>O início</h1><br />
    <p>- Comece seu estudo do zero para ter uma visão panorâmica do assunto; <br />(ROBÉRIO NUNES)</p><br /><br />
    <h1>Revise</h1><br />
    <p>- Após finalizar determinado tema, questione se você realmente o aprendeu e tente falar sobre ele; <br />(RENATO BRASILEIRO)</p><br /><br />
    <h1>Fixar o assunto</h1><br />
    <p>- Leia, releia e revise: Leia a primeira vez para entender o geral, a segunda vez para entender o específico (marcando o mais importante) e a terceira vez para fixar o conteúdo (apenas o grifado) <br />(GUSTAVO NOGUEIRA)</p><br />
    <h1>Memorizando</h1><br />
    <p>- Memorize letras, frases e palavras que façam você lembrar o assunto inteiro;  <br />(JUAN VASQUEZ)</p><br /><br />
    <h1>Exercitar a memorização</h1><br />
    <p>- Crie “historinhas” que façam você recordar o que estudou;  <br />(CRISTIANO CHAVES)</p><br />
</div>

<div id="hidden_8" class="text-hidden">
    <h1>Hora da Prova</h1><br />
    <p>Para o momento da prova, a intercessão que une todos os esforços, EdÉm acredita que também é muito importante seguir algumas dicas decisivas para a aprovação:</p><br /><br />
    <h1>Comece pelas questões mais fáceis:</h1><br />
    <p>Não faça a prova na ordem das questões, comece pelas disciplinas que lhe parecem mais familiares e fáceis, de acordo com a sua aptidão. Assim você ganha tempo e se sentirá mais confiante para resolver o restante da prova. <br />(RENATO DE PRETTO)</p><br />
</div>

<div id="hidden_9" class="text-hidden">
    <h1>Descanse durante a prova</h1><br />
    <p>Ninguém consegue foco absoluto durante cinco horas seguidas. Pare, respire, faça um alongamento e retome. Mas lembre de encaixar essa pausa na sua administração do tempo <br />(EDEM NÁPOLI)</p>
</div>

<div id="hidden_10" class="text-hidden">
    <h1>ADMINISTRE O TEMPO</h1><br />
    <p>Analise o tempo total da prova, calcule o número de questões, separe 30 minutos para o preenchimento do gabarito, e calcule quanto tempo terá para resolver cada questão. Pule e circule as questões que não souber para resolver mais tarde. Não passe para outra disciplina sem terminar a anterior, isso evitará que você perca a linha de raciocínio. Se ao final sobrar tempo, revise suas respostas. <br />(FÁBIO ROQUE)</p>
</div>

<div id="hidden_11" class="text-hidden">
    <h1>Respeite o seu momento</h1><br />
    <p>Não há motivo para desespero caso esbarre com uma prova difícil, que não saiba resolver. Queremos tudo imediatamente, mas quem nos guia é uma força maior. Tudo acontecerá no tempo certo <br />(ROGÉRIO SANCHES)</p>
</div>

<div id="hidden_12" class="text-hidden">
    <h1>CHUTE</h1><br />
    <p>“Chutar” a resposta de uma questão é técnica não aconselhada, mas muitas vezes inevitável. Deixar uma resposta “em branco” pode ser prejudicial ao resultado final. Segundo o professor, conhecendo os princípios, é possível confiar na intuição. Mas para isso, é necessário observar as características da questão. Conheça as técnicas do “chute consciente”:</p><br /><br />
    <h1>Palavras inclusivas e exclusivas:</h1><br />
    <p>As palavras <i>nenhuma, nunca, sempre</i> e<i>todo</i> geralmente protagonizam alternativas incorretas. Enquanto palavras e expressões como: <i>em alguns casos, geralmente, às vezes</i> e <i>em princípio</i>, aumentam a probabilidade da alternativa estar correta;  <br />(RENATO SARAIVA)</p><br /><br />
    <h1>Enunciados politicamente corretos:</h1><br />
    <p>Alternativas que trazem em seu cerne a defesa de princípios fundamentais dos direitos humanos, ECA e meio-ambiente têm grande probabilidade de estarem corretas. Enquanto as que ferem esses princípios geralmente encontram-se incorretas; <br />(RENATO BRASILEIRO)</p><br /><br />
    <h1>Respostas absurdas:</h1><br />
    <p>Ao ler as alternativas, mesmo que fique em dúvida entre duas ou três possíveis respostas, comece eliminando aquelas absurdas. Assim, você aumenta a probabilidade de acerto; <br />(ROBÉRIO NUNES)</p><br /><br />
    <h1>Cara do gabarito:</h1><br />
    <p>Você está nos minutos finais para entregar a prova, não existe tempo nem mesmo de analisar ou ler com atenção uma questão. Cuidado! Não marque o gabarito aleatoriamente. Nesses casos extremos, tire uma média de quantas alternativas A, B, C ou D trouxe a prova e calcule um número equivalente para marcar as que faltam. Pode dar certo! <br />(GUSTAVO NOGUEIRA)</p><br />
</div>

</div>

<!-- Javascript -->
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/js.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/dicasdeestudo-js/smoothscroll.js"></script>
    <script type="text/javascript">  
        $(window).stellar({
            horizontalScrolling: false,
            verticalOffset: 0,
            horizontalOffset: 0
        });
    </script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    
    <!-- Add fancyBox -->
    <script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    
    <link rel="stylesheet" href="/assets/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <script type="text/javascript" src="/assets/dicasdeestudo-js/utils.js"></script>
      
    <script type="text/javascript">

        
    $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
        openEffect : 'none',
        closeEffect : 'none',
        prevEffect : 'none',
        nextEffect : 'none',
        arrows : false,
        helpers : {
            media : {},
            buttons : {}
        }
    });
    </script>
