<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Portal Carreira Jurídica</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/ico">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]><link rel="stylesheet" href="assets/css/ie.css">!<[endif]-->

    </head>
    <body class="online-courses-body">
        <div class="wrapper">
            <!--==========================================================================
            HEADER
            ========================================================================== -->
            <header id="header" class="header">
                <div class="header-primary relative">
                    <div class="header-primary-content container relative clearfix">
                         <div id="barra" class="container">
                            <!--<div class="option">
                                <h4>Sites Renato Saraiva</h4>
                                <ul>
                                    <li><a href="#" title="CERS - Cursos Online">CERS - Cursos Online</a></li>
                                    <li><a href="#" title="CERS - TV">CERS - TV</a></li>
                                    <li><a href="#" title="Exame de Ordem">Exame de Ordem</a></li>
                                    <li><a href="#" title="CERS - Cursos Online">CERS - Cursos Online</a></li>
                                </ul>
                            </div>-->
                            <nav class="menu" role="navigation" style="margin-left: 33%">
                                <ul class="clearfix">
                                    <li class="menu-quem-somos"><a href="/quem-somos" title="Quem Somos">Quem Somos</a></li>
                                    <!--<li class="menu-contato">< %= link_to "Contato", contact_us_path, title: "Contato" %></li>-->
                                    <li class="ico ico-youtube"><a href="http://www.youtube.com/examedeordem" title="Youtube" class="ir" target="_blank">Youtube</a></li>
                                    <li class="ico ico-facebook"><a href="http://www.facebook.com/portalexamedeordem" title="Facebook" class="ir" target="_blank">Facebook</a></li>
                                    <li class="ico ico-twitter"><a href="http://twitter.com/examedeordem" title="Twitter" class="ir" target="_blank">Twitter</a></li>
                                </ul>
                            </nav>
                        </div>
                        <h1 class="header-logo">
                            <a href="index.html" class="header-logo-a" title="Portal Carreira Jurídica">
                                <img src="assets/img/logo-portal-carreiras-juridicas.png" alt="">
                                <span class="visuallyhidden">Portal Carreira Jurídica</span>
                            </a>
                        </h1><!-- .header-logo --> 
                    </div>
                    <span class="line"></span>  
                </div><!-- .header-primary -->
                <div class="header-secondary">
                    <div class="header-secondary-content container clearfix">
                        <nav class="nav-global nav-bar" role="navigation">
                            <ul class="nav nav-ul clearfix">
                                <li class="nav-li nav-home"><a href="index.html" class="nav-a" title="Início">Início</a></li>
                                <li class="nav-li nav-online-courses"><a href="cursos-online.html" class="nav-a" title="Cursos Online">Cursos Online</a></li>
                                <li class="nav-li nav-teachers"><a href="professores.html" class="nav-a" title="Professores">Professores</a></li>
                                <li class="nav-li nav-downloads"><a href="downloads.html" class="nav-a" title="Downloads">Downloads</a></li>
                                <li class="nav-li nav-news"><a href="noticias.html" class="nav-a" title="Notícias">Notícias</a></li>
                                <li class="nav-li nav-blogs"><a href="blogs.html" class="nav-a" title="Blogs">Blogs</a></li>
                                <li class="nav-li nav-livros"><a href="index.html" class="nav-a" title="Livros">Livros</a></li>
                            </ul>
                        </nav>
                        <fieldset id="search">
                            <form class="search-form" action="" role="search">
                                <input type="text" name="q" id="q" placeholder="O que você procura?" class="search-input">
                                <button type="submit" class="btn btn-search">Buscar</button>    
                            </form>
                        </fieldset><!-- #search -->
                    </div>
                </div><!-- .header-secondary -->
            </header><!-- #header -->
            <div class="wrapper-content">
                <div id="content" class="content clearfix" role="main">
                    <!--==========================================================================
                    CONTENT
                    ========================================================================== -->
                    <div class="content-inner container clearfix">
                        <section class="box relative">
                            <header class="box-header content-header">
                                <h2 class="title title-section">Cursos Online</h2>
                            </header>
                            <div class="box-content">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, obcaecati, alias iusto magni fuga ipsa dicta id a doloribus dolore minus reiciendis facilis architecto odit culpa laborum reprehenderit nostrum animi?</p>
                               <p>Consectetur, recusandae, quaerat, fugit minus officiis commodi unde culpa doloribus nesciunt reiciendis odit atque eaque praesentium tempora perspiciatis dolorum ratione quas fugiat quasi doloremque! Sed soluta consequatur mollitia harum aliquam?</p>
                            </div>
                        </section><!-- .box -->
                    </div><!-- .content-inner -->

                      <!--==========================================================================
                    CURSOS DESTAQUE
                    ========================================================================== -->  
                    <div class="courses-main">
                        <div class="courses-main-content container">
                            <form id="search-form-courses" class="search-form search-courses-form" action="" role="search">
                                <span class="field-area">
                                    <input type="text" name="q" id="q" placeholder="Encontre seu curso" class="search-input">
                                    <button type="submit" class="btn btn-search">Buscar</button>        
                                </span>
                            </form><!-- #search-form-courses -->
                            <section class="courses-featured box">
                                <header class="box-header courses-featured-header">
                                    <h4 class="title">Cursos Disponíveis
                                        <small><a href="http://www.renatosaraiva.com.br" class="more-a" target="_blank" title="Ver mais cursos no CERS">Mais Cursos <span class="icon arrow"></span></a></small>
                                    </h4>
                                </header>
                                <div class="box-content courses-featured-content">
                                    <ul class="courses-featured-ul clearfix">
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                        <li class="courses-featured-li">
                                            <a href="javascript:;" class="photo courses-featured-a">
                                                <figure class="photo-border courses-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/230x140" alt="">
                                                </figure>
                                                <h2 class="visuallyhidden">Polícia Rodoviária Federal</h2>
                                            </a>
                                        </li>
                                    </ul><!-- .courses-featured-ul -->
                                </div><!-- .courses-featured-content -->
                            </section><!-- .courses-featured -->
                            <section class="books-featured box clearfix">
                                <header class="books-featured-header">
                                    <strong class="title">Livros Digitais</strong>
                                    <span class="triangle"></span>
                                </header>
                                <div class="books-featured-content">
                                    <ul class="books-featured-ul">
                                        <li class="books-featured-li">
                                            <a href="" class="photo books-featured-a">
                                                <figure class="photo-border books-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/123x93" alt="">
                                                </figure>
                                                <div class="content">
                                                    <h3 class="title">Coleção Tribunais Processo Penal</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="books-featured-li">
                                            <a href="" class="photo books-featured-a">
                                                <figure class="photo-border books-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/123x93" alt="">
                                                </figure>
                                                <div class="content">
                                                    <h3 class="title">Coleção Tribunais Processo Penal</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="books-featured-li">
                                            <a href="" class="photo books-featured-a">
                                                <figure class="photo-border books-featured-figure">
                                                    <span></span>
                                                    <img src="http://placehold.it/123x93" alt="">
                                                </figure>
                                                <div class="content">
                                                    <h3 class="title">Coleção Tribunais Processo Penal</h3>
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!-- .books-featured-ul -->            
                                </div><!-- .books-featured-content -->
                            </section><!-- .books-featured -->
                        </div><!-- .courses-main-content -->
                    </div><!-- .courses-main -->

                </div><!-- .content -->
            </div><!-- .wrapper-content -->
            
            <!--==========================================================================
            MODULO CRUZADO
            ========================================================================== -->    

            <section id="modulo-cruzado">
                <div class="c container clearfix">
                    <div class="fb-like-box" data-href="http://www.facebook.com/complexorenatosaraiva" data-width="405" data-height="255" data-show-faces="true" data-stream="false" data-header="false"></div>
                    <section class="mod mod-depoimento">
                        <h4 class="mod-title">Depoimentos</h4>
                        <figure>
                            <img src="assets/img/img/fake/depoimento1.jpg" alt="Késsia Costa" width="30" height="30">
                            <figcaption>
                                <strong>Késsia Costa</strong> Firminópolis - GO
                            </figcaption>
                        </figure>
                        <blockquote>
                            Professor Matheus, Nossa! Como é bom ser sua aluna, mesmo que on line. Professor eu poderia dizer há um tempo atrás que sorte da Jaciara não estudar administrativo, mas se o professor dela fosse você, ela ia adorar!...
                            <span class="up"></span><span class="down"></span>
                        </blockquote>
                        <a href="depoimentos.php" title="Veja mais depoimentos" class="mais">+</a>
                    </section>
                    <section class="rotativo min">
                        <h4 class="ir"><span>CERS TV</span></h4>
                            <ul class="viewport" id="ws_cers_tv_ul_videos">
                        </ul>
                        <a href="#" class="seta ant ir" title="Anterior">Anterior</a>
                        <a href="#" class="seta prox ir" title="Próximo">Próximo</a>        
                        <ol>
                            <li><a href="#" title="1" class="current">1</a></li>
                            <li><a href="#" title="2">2</a></li>
                            <li><a href="#" title="3">3</a></li>
                            <li><a href="#" title="4">4</a></li>
                        </ol>
                    </section>
                </div>
            </section>  

            <!--==========================================================================
            FOOTER
            ========================================================================== -->
            <footer role="contentinfo" class="footer">
                <div class="c container">
                    <div>
                        <h5 class="ir">Complexo de Ensino Renato Saraiva</h5>
                        <p>A maior instituição de ensino a distância do Brasil</p>
                    </div>
                    <nav class="menu">
                        <ul>
                            <li><a href="/quem-somos" title="Quem Somos">Quem Somos</a></li>
                             <li><a href="/termos" title="Termos de Uso">Termos de Uso</a></li>
                            <li class="ico ico-youtube"><a href="http://www.youtube.com/cerenatosaraiva" target="_blank" title="Youtube" class="ir">Youtube</a></li>
                            <li class="ico ico-facebook"><a href="http://www.facebook.com/complexorenatosaraiva" target="_blank" title="Facebook" class="ir">Facebook</a></li>
                            <li class="ico ico-twitter"><a href="http://twitter.com/cerenatosaraiva" target="_blank" title="Twitter" class="ir">Twitter</a></li>
                        </ul>
                    </nav>
                     <p>© 2013 Renato Saraiva. Todos os direitos reservados.</p>
                </div>
            </footer>
        </div><!-- .wrapper -->
        
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/online-courses.js"></script>
        <!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->
        <div id="fb-root" class="fb_reset"></div>
    </body>
</html>
