<div class="teachers-profile-header blog-teacher-header">
  <div class="teachers-profile-primary">
      <div class="teachers-profile-primary-content container relative">
          <div class="teachers-profile-primary-text">
              <h1 class="title teachers-title">Aryanna Manfredini</h1>
              <p class="desc">Processo do Trabalho</p>
          </div>
          <figure class="teachers-profile-figure">
              <img src="/assets/teachers/aryanna.png" alt="">
          </figure>
      </div>
  </div>
  <nav class="teachers-profile-nav">
      <div class="container">
          <ul class="teachers-links teachers-profile-nav-ul unstyled">
              <li>
                <%= link_to blog_path, :class => "l-profile", :title => "Blog" do %>
                    <i class="icon"></i>Perfil
                <% end %>
              </li>
              <li class="active">
                <%= link_to blog_path, :class => "l-blog", :title => "Blog" do %>
                    <i class="icon"></i>Blog
                <% end %>
              </li>
              <li><a href="" title="Cursos" class="l-courses" target="_blank"><i class="icon"></i>Cursos</a></li>
          </ul>
      </div>
  </nav>
</div>
<div class="content-lighten">
   <div class="content-inner two-columns container clearfix">
      <section class="box relative col col-large">
         <div id="blog-list" class="blog-list">
            <!--=======================================
            ITEM DE BLOG 
            =========================================-->
            <article class="post article">
               <header class="article-header">
                  <span class="article-date">13 de maio de 2013</span>
                  <h2 class="article-title">
                     <a href="/blog/show" title="Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</a>
                  </h2>
                  <div class="social clearfix">
                     <span class="google">
                        <div class="g-plusone" data-size="medium"></div>
                     </span>
                     <span class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
                     </span>
                     <span class="facebook">
                        <div class="fb-like" data-send="true" data-layout="button_count" data-width="140" data-show-faces="false"></div>
                     </span>
                     <span class="comment">
                        <a href="/blog/show#comments" class="comment-a">
                           <i class="icon-comment"></i>
                           <span>Comente (<fb:comments-count href=http://example.com/></fb:comments-count>)</span>
                        </a>
                     </span>
                  </div>
               </header>
               <section class="article-content">
                  <figure>
                     <img src="http://lorempixel.com/696/400/people/" alt="">
                  </figure>
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <p>
                  Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
               </section>
               <footer class="article-footer">
                  <div class="social clearfix">
                     <span class="google">
                        <div class="g-plusone" data-size="medium"></div>
                     </span>
                     <span class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>
                     </span>
                     <span class="facebook">
                        <div class="fb-like" data-send="true" data-layout="button_count" data-width="140" data-show-faces="false"></div>
                     </span>
                     <span class="comment">
                        <a href="/blog/show#comments" class="comment-a">
                           <i class="icon-comment"></i>
                           <span>Comente (<fb:comments-count href=http://example.com/></fb:comments-count>)</span>
                        </a>
                     </span>
                  </div>
               </footer>
                <div id="comments">
                  <div class="fb-comments" data-href="http://example.com" data-width="696" data-num-posts="10"></div>    
                </div>
            </article><!-- .article -->
         </div><!-- #blog-list -->
      </section><!-- .box -->

      <%= render :partial => 'layouts/aside_blog' %>
      
   </div><!-- .content-inner -->
</div>