
$color-template-1:#182f51;/* azul tom máximo */
$color-template-2:#223d6d;/* azul intermediario */
$color-template-3:#315d9f;/* azul claro */
$color-template-4:#f39424;/* laranja */
$color-template-5:#f8b81d;/* laranja areia */
$color-template-6:#000000;

$color-border-highlight: #fff;
$color-border-shadow: #cdcdcd;
$color-border-shadow-2: #ddd;

$color-text: #666;

$cers-dark-grey:#262c36;

$font-default:'Trebuchet MS', Arial, Verdana;
$font-black: 'brandon-grotesqueblack', 'Trebuchet MS', Arial, Verdana;
$font-bold: 'brandon-grotesquebold', 'Trebuchet MS', Arial, Verdana;
$font-regular: 'brandon-grotesqueregular', 'Trebuchet MS', Arial, Verdana;