<aside class="col col-default">
	<div class="box widget widget-search">
		<header class="box-header widget-header">
			<h3 class="title widget-title">Busca</h3>
		</header>
		<div class="box-content widget-content">
			<form class="search-form" action="" role="search">
				<input type="text" name="q" id="q" placeholder="O que você procura?" class="search-input">
				<button type="submit" class="btn btn-search">Buscar</button>    
			</form>
		</div>
	</div><!-- .widget-search -->
	<div class="box widget widget-categories">
		<header class="box-header widget-header">
			<h3 class="title widget-title">Categorias</h3>
		</header>
		<div class="box-content widget-content">
			<ul class="unstyled">
				<li><a href="" title="">Advocacia</a></li>
				<li><a href="" title="">Administração Pública</a></li>
				<li><a href="" title="">Dicas</a></li>
			</ul>
		</div>
	</div><!-- .widget-categories -->
	<div class="widget">
		<a href="" title="">
			<img src="http://placehold.it/300x250&text=Publicidade" alt="">
		</a>
	</div>
	<div class="box widget widget-archives">
		<header class="box-header widget-header">
			<h3 class="title widget-title">Arquivo</h3>
		</header>
		<div class="box-content widget-content">
			<ul class="unstyled">
				<li><a href="" title="">Junho 2013</a></li>
				<li><a href="" title="">Maio 2013</a></li>
				<li><a href="" title="">Abril 2013</a></li>
			</ul>
		</div>
	</div><!-- .widget-archives -->
	
</aside><!-- col-default --> 