<section id="modulo-cruzado">
  <div class="c container clearfix">
    <div class="fb-like-box" data-href="https://www.facebook.com/portalcarreirajuridica/" data-width="405" data-height="255" data-show-faces="true" data-stream="false" data-header="false"></div>
    <section class="mod mod-depoimento">
      <h4 class="mod-title">Depoimentos</h4>
      <figure>
        <img src="https://manager_attachs.s3.amazonaws.com/cers/emanuela-mayara.jpg" alt="Emanuela Mayara" width="30" height="30">
        <figcaption>
          <strong>Emanuela Mayara</strong>
        </figcaption>
      </figure>
      <blockquote>
        Hoje eu não sei o que eu seria sem os cursos do Complexo de Ensino Renato Saraiva. Pois, a minha aprovação na OAB se deu pelo fato de ter sido muito bem preparada pelo Professor Renato Saraiva...
        <span class="up"></span><span class="down"></span>
      </blockquote>
      <!--a href="depoimentos.php" title="Veja mais depoimentos" class="mais">+</a-->
    </section>
    <section class="rotativo min">
      <h4 class="ir"><span>CERS TV</span></h4>
      <a href="http://www.cerstv.com.br" target="_blank" title="CERS TV">
        <img src="/assets/CERS_TV-publicidade-300x215.jpg" />
      </a>
    </section>
  </div>
</section>