<footer role="contentinfo" class="footer">
  <div class="c container">
    <div>
      <h5 class="ir">Complexo de Ensino Renato Saraiva</h5>
      <p>A maior instituição de ensino a distância do Brasil</p>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/quem-somos" title="Quem Somos">Quem Somos</a></li>
        <li><a href="/termos" title="Termos de Uso">Termos de Uso</a></li>
        <li class="ico ico-youtube"><a href="http://www.youtube.com/cerenatosaraiva" target="_blank" title="Youtube" class="ir">Youtube</a></li>
        <li class="ico ico-facebook"><a href="https://www.facebook.com/portalcarreirajuridica" target="_blank" title="Facebook" class="ir">Facebook</a></li>
        <li class="ico ico-twitter"><a href="http://twitter.com/cerenatosaraiva" target="_blank" title="Twitter" class="ir">Twitter</a></li>
      </ul>
    </nav>
    <p>&copy; <%= Time.now.year %> Renato Saraiva. Todos os direitos reservados.</p>
  </div>
</footer>
<footer class="footer">
  <div class="footer-primary">
    <div class="footer-primary-content container clearfix">

    </div>
  </div>
</footer>